<!DOCTYPE html>
<html lang="bg" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Employee</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
<div th:replace="~{fragments/navigation}"></div>
<div class="container-form">
    <div class="bg-danger text-center" th:if="${isExist}">
        <p class="d-block">The position already exists</p>
    </div>
    <div th:unless="${isExist}">
        <h2 class="text-center">Add Position</h2>
    </div>
    <form th:action="@{/add-position}"
          th:object="${addPositionDTO}"
          th:method="POST"
          id="addPositionForm">
        <div class="form-group">
            <label th:for="positionName">Name</label>
            <input type="text" class="form-control"
                   id="positionName"
                   name="positionName"
                   th:field="*{positionName}"
                   th:errorclass="is-invalid">
            <p class="invalid-feedback errors alert alert-danger">
                Name must contain 3 to 30 letters.
            </p>
        </div>
        <div class="form-group">
            <label th:for="description">Description</label>
            <input type="text" class="form-control"
                   id="description"
                   name="description"
                   th:field="*{description}"
                   th:errorclass="is-invalid">
            <p class="invalid-feedback errors alert alert-danger">
                Description must contain 10 to 255 letters.
            </p>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Add</button>
    </form>
</div>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>
