<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
<div th:replace="~{fragments/navigation}"></div>
<div class="form-container add-user-container">
    <h2 class="text-center">Add User</h2>
    <form
            th:action="@{/add-user}"
            th:method="POST"
            th:object="${addUserDTO}">
        <div class="form-group">
            <label th:for="username">Username:</label>
            <input type="text" class="form-control"
                   id="username"
                   name="username" placeholder="Insert username"
                   th:field="*{username}"
                   th:errorclass="is-invalid">
            <p class="invalid-feedback errors alert alert-danger">
                Username must be between 3 and 15 characters.
            </p>
        </div>
        <div class="form-group">
            <label th:for="identificationNumber">Identification Number:</label>
            <input type="text" class="form-control"
                   id="identificationNumber"
                   name="identificationNumber" placeholder="Insert identification number"
                   th:field="*{identificationNumber}"
                   th:errorclass="is-invalid">
            <p class="invalid-feedback errors alert alert-danger">
                Identification number must be 10 digits.
            </p>
        </div>
        <div class="form-group">
            <label th:for="password">Password:</label>
            <input type="password" class="form-control"
                   id="password"
                   name="password" placeholder="Insert password"
                   th:field="*{password}"
                   th:errorclass="is-invalid">
            <p class="invalid-feedback errors alert alert-danger">
                Password must be between 4 and 10 characters.
            </p>
        </div>
        <div class="form-group">
            <label th:for="confirmPassword">Confirm Password:</label>
            <input type="password" class="form-control"
                   id="confirmPassword"
                   name="confirmPassword" placeholder="Confirm password"
                   th:field="*{confirmPassword}"
                   th:errorclass="is-invalid">
        </div>
        <div class="form-group">
            <label th:for="role">Role:</label>
            <select class="form-control"
                    id="role"
                    name="role"
                    th:field="*{role}"
                    th:errorclass="is-invalid">
                <option value="">Select Role</option>
                <option value="1">Admin</option>
                <option value="2">User</option>
            </select>
            <p class="invalid-feedback errors alert alert-danger">
                Select Role.
            </p>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Submit</button>
    </form>
</div>
</body>
</html>
