<!DOCTYPE html>
<html lang="bg" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Employee</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
    <div th:replace="~{fragments/navigation::navigation(activeLink=${'employees'})}"></div>
    <div class="container-form">
        <div class="bg-danger text-center" th:if="${isExist}">
            <p class="d-block">The employee already exists</p>
        </div>
        <div th:unless="${isExist}">
            <h2 class="text-center">Add Employee</h2>
        </div>
        <form th:action="@{/add-employee}"
          th:object="${addEmployeeDTO}"
          th:method="POST"
          id="addEmployeeForm">
            <div class="form-group">
                <label th:for="firstName">First Name</label>
                <input type="text" class="form-control"
                       id="firstName"
                       name="firstName"
                       th:field="*{firstName}"
                       th:errorclass="is-invalid">
                <p class="invalid-feedback errors alert alert-danger">
                    First name must contain 3 to 10 letters.
                </p>
            </div>
        <div class="form-group">
            <label th:for="middleName">Middle Name</label>
            <input type="text" class="form-control"
                   id="middleName"
                   name="middleName"
                   th:field="*{middleName}"
                   th:errorclass="is-invalid">
            <p class="invalid-feedback errors alert alert-danger">
                Middle name must contain 3 to 10 letters.
            </p>
        </div>
        <div class="form-group">
            <label th:for="lastName">Last Name</label>
            <input type="text" class="form-control"
                   id="lastName"
                   name="lastName"
                   th:field="*{lastName}"
                   th:errorclass="is-invalid">
            <p class="invalid-feedback errors alert alert-danger">
                Last name must contain 3 to 10 letters.
            </p>
        </div>
        <div class="form-group">
            <label th:for="identificationNumber">Identification Number</label>
            <input type="text" class="form-control"
                   id="identificationNumber"
                   name="identificationNumber"
                   th:field="*{identificationNumber}"
                   th:errorclass="is-invalid">
            <p class="invalid-feedback errors alert alert-danger">
                Identification number must be 10 digits.
            </p>
        </div>
        <div class="form-group">
            <label th:for="age">Age</label>
            <input type="text" class="form-control"
                   id="age"
                   name="age"
                   th:field="*{age}"
                   th:errorclass="is-invalid">
            <p class="invalid-feedback errors alert alert-danger">
                Age must be over 18.
            </p>
        </div>
        <div class="form-group">
            <label th:for="startDate">Start Date</label>
            <input type="date" class="form-control"
                   id="startDate"
                   name="startDate"
                   th:field="*{startDate}"
                   th:errorclass="is-invalid">
        </div>
        <div class="form-group">
            <label th:for="position">Position</label>
            <select class="form-control"
                    id="position"
                    name="position"
                    th:field="*{position}"
                    th:errorclass="is-invalid">
                <option value="">-- Select Position --</option>
                <option
                        th:each="position: ${positions}"
                        th:value="${position}"
                        th:text="${position}">Position
                </option>
            </select>
            <p class="invalid-feedback errors alert alert-danger">
                Position type is required.
            </p>
        </div>
        <div class="form-group">
            <label th:for="department">Department</label>
            <select class="form-control"
                    id="department"
                    name="department"
                    th:field="*{department}"
                    th:errorclass="is-invalid">
                <option value="">-- Select Department --</option>
                <option
                        th:each="department: ${departments}"
                        th:value="${department}"
                        th:text="${department}">Department</option>
            </select>
            <p class="invalid-feedback errors alert alert-danger">
                Department type is required.
            </p>
        </div>
        <div class="form-group">
            <label th:for="education">Education</label>
            <select class="form-control"
                    id="education"
                    name="education"
                    th:field="*{education}"
                    th:errorclass="is-invalid">
                <option value="">-- Select Education --</option>
                <option th:each="education: ${educations}"
                        th:value="${education}"
                        th:text="${education}">Education</option>
            </select>
            <p class="invalid-feedback errors alert alert-danger">
                Education type is required.
            </p>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Add</button>
    </form>
</div>
    <footer th:replace="~{fragments/footer}"></footer>
</body>
</html>
