<!DOCTYPE html>
<html lang="bg"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Departments</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
<div th:replace="~{fragments/navigation::navigation(activeLink=${'departments'})}"></div>
<div class="entity-form departments-form">
    <h2 class="text-center">Departments:<span class="count" th:text="${departments.size()}"></span></h2>
    <a href="/add-department" class="btn btn-success add-employee-btn" sec:authorize="hasRole('ADMIN')">Add</a>
    <table class="departments-form justify-content-center table table-striped">
        <thead>
            <tr>
            <th>Name</th>
            <th>Manager Name</th>
            <th>Employees</th>
            <th>Projects</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="department : ${departments}">
            <td th:text="${department.departmentName}">Name</td>
            <td th:text="${department.manager}">Manager Name</td>
            <td th:text="${department.employees.size()}">Employees</td>
            <td th:text="${department.projects.size()}">Projects</td>
            <td sec:authorize="hasRole('ADMIN')">
                <form th:method="POST" th:action="@{/department-details/{id}(id=${department.id})}" class="d-inline">
                    <input class="btn btn-primary btn-sm" type="submit" value="Edit"/>
                </form>
                <form th:method="POST" th:action="@{/delete-department/{id}(id=${department.id})}" class="d-inline">
                    <input class="btn btn-danger btn-sm" type="submit" value="Remove"/>
                </form>
            </td>
                <td sec:authorize="hasRole('USER')">
                    <form th:method="POST" th:action="@{/department-employees/{id}(id=${department.id})}" class="d-inline">
                        <input class="btn btn-primary btn-sm" type="submit" value="Employees"/>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>