<!DOCTYPE html>
<html lang="bg" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Employee</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
<div th:replace="~{fragments/navigation}"></div>
<div class="container-form">
        <h2 class="text-center">Edith Department</h2>
    <form
            th:action="@{/department-details}"
            th:object="${departmentDTO}"
            th:method="POST"
            id="edithDepartmentForm">

        <div class="form-group">
            <label th:for="departmentName">Name</label>
            <input type="text" class="form-control" th:placeholder="${departmentDTO.departmentName}"
                   id="departmentName"
                   name="departmentName"
                   th:field="*{departmentName}" readonly>
        </div>
        <div class="form-group">
            <label th:for="descriptions">Descriptions</label>
            <input type="text" class="form-control" th:placeholder="${departmentDTO.descriptions}"
                   id="descriptions"
                   name="descriptions"
                   th:field="*{descriptions}"
                   th:errorclass="is-invalid">
            <p class="invalid-feedback errors alert alert-danger">
                Descriptions name must contain 10 to 255 letters.
            </p>
        </div>
        <div class="form-group">
            <label th:for="employee" th:placeholder="${departmentDTO.manager}">Manager</label>
            <select class="form-control"
                    id="employee"
                    name="employee"
                    th:field="*{manager}">
                <option value=""> -- Select Manager -- </option>
                <option th:each="employee: ${allEmployees}"
                        th:value="${employee.fullName}"
                        th:text="${employee.fullName}">Employee Full Name</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Save</button>
    </form>
</div>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>