<!DOCTYPE html>
<html lang="bg"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employees</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
<div th:replace="~{fragments/navigation::navigation(activeLink=${'employees'})}"></div>
    <div class="entity-form employees-form">
        <h2 class="text-center">
            <span th:text="#{employees_header}">Employees:</span>
            <span class="count" th:text="${employees.size()}"></span>
        </h2>
        <a href="/add-employee" class="btn btn-success add-employee-btn"
           sec:authorize="hasRole('ADMIN')"
           th:text="#{add}">Add</a>
        <table class="justify-content-center table table-striped">
            <thead>
                <tr>
                    <th th:text="#{employees_first_name}">First Name</th>
                    <th th:text="#{employees_middle_name}">Middle Name</th>
                    <th th:text="#{employees_last_name}">Last Name</th>
                    <th th:text="#{identification_number}">Identification Number</th>
                    <th th:text="#{employees_age}">Age</th>
                    <th th:text="#{employees_start_date}">Start Date</th>
                    <th th:text="#{employees_end_date}">End Date</th>
                    <th th:text="#{employees_position}">Position</th>
                    <th th:text="#{employees_department}">Department</th>
                    <th th:text="#{employees_education}">Education</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="employee : ${employees}">
                    <td th:text="${employee.firstName}">First Name</td>
                    <td th:text="${employee.middleName}">Middle Name</td>
                    <td th:text="${employee.lastName}">Last Name</td>
                    <td th:text="${employee.identificationNumber}">Identification Number</td>
                    <td th:text="${employee.age}">Age</td>
                    <td th:text="${employee.startDate}">Start Date</td>
                    <td th:text="${employee.endDate}">End Date</td>
                    <td th:text="${employee.position}">Position</td>
                    <td th:text="${employee.department}">Department</td>
                    <td th:text="${employee.education}">Education</td>
                    <td th:href="@{/add-employee}" sec:authorize="hasRole('ADMIN')" th:if="${employee.firstName != 'DEFAULT_EMP'}">
                        <form th:method="POST" th:action="@{/employee-details/{id}(id=${employee.id})}" class="d-inline">
                            <input class="btn btn-primary btn-sm" type="submit" th:value="#{edit}"/>
                        </form>
                        <form th:method="POST" th:action="@{/delete-employee/{id}(id=${employee.id})}" class="d-inline">
                            <input class="btn btn-danger btn-sm" type="submit" th:value="#{remove}"/>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <footer th:replace="~{fragments/footer}"></footer>
</body>
</html>