<!DOCTYPE html>
<html lang="bg"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
<div th:replace="~{fragments/navigation}"></div>
    <div class="form-container index-form">

        <h2 class="text-center">Human Resource Managements</h2>

        <p>is an application for facilitating and managing human resources. It's purpose is to create, maintain and store employee data. There are restrictions on access and user rights.</p></p>

    </div>
    <footer th:replace="~{fragments/footer}"></footer>
</body>
</html>