<!DOCTYPE html>
<html lang="bg"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
<div th:replace="~{fragments/navigation}"></div>
<main>
    <div class="birthday-form" >
        <table class="justify-content-center table table-striped">
        <thead>
        <tr>
            <th>First Name</th>
            <th>Middle Name</th>
            <th>Last Name</th>
            <th>Identification Number</th>
            <th>Age</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Position</th>
            <th>Department</th>
            <th>Education</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee : ${birthdayEmployees}">
            <td th:text="${employee.firstName}">First Name</td>
            <td th:text="${employee.middleName}">Middle Name</td>
            <td th:text="${employee.lastName}">Last Name</td>
            <td th:text="${employee.identificationNumber}">Identification Number</td>
            <td th:text="${employee.age}">Age</td>
            <td th:text="${employee.startDate}">Start Date</td>
            <td th:text="${employee.endDate}">End Date</td>
            <td th:text="${employee.position}">Position</td>
            <td th:text="${employee.department}">Department</td>
            <td th:text="${employee.education}">Education</td>
        </tr>
        </tbody>
    </table>
    </div>
    <div class="index-form">
        <h1 class="text-center" id="tile" th:text="#{index_title}">Welcome to Human Resource Managements</h1>
        <hr class="my-3 bg-dark w-50"/>

        <p class="h4" id="description" th:text="#{index_description}">
            It is an application to facilitate and manage human resources. Its purpose is to create, maintain and store employee data. There are restrictions on access and user rights. Enjoy using it.</p>
        <hr class="my-3 bg-white w-75"/>

        <h5 sec:authorize="!isAuthenticated()">
            <a class="text-primary" th:href="@{/login}" id="login" th:text="#{index_login}">Login</a>
            <span id="login_desc" th:text="#{index_login_desc}">if you have an account or</span>
            <a class="text-primary" th:href="@{/register}" id="registration" th:text="#{index_registration}">Register</a>
            <span id="registration_desc" th:text="#{index_registration_desc}">now and check employees.</span>
        </h5>
    </div>
</main>
    <footer th:replace="~{fragments/footer}"></footer>
</body>
</html>