<!DOCTYPE html>
<html lang="bg"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
<div th:replace="~{fragments/navigation}"></div>
    <div class="form-container login-form">
        <h2 class="text-center">Login</h2>
        <form id="loginForm"
        th:action="@{/login}"
        th:object="${loginUserDTO}"
        th:method="POST">
            <div class="bg-danger" th:if="${showErrorMessage}" th:text="'Invalid username or password'"></div>
            <div class="form-group">
                <label th:for="username">Username</label>
                <input type="text" class="form-control"
                       id="username"
                        th:field="*{username}"
                       aria-describedby="usernameHelpInline">
            </div>
            <div class="form-group">
                <label th:for="password">Password</label>
                <input type="password" class="form-control"
                       id="password"
                       th:field="*{password}"
                       aria-describedby="passwordHelpInline">
            </div>
            <button type="submit" class="btn btn-primary btn-block">Login</button>
        </form>
    </div>
    <footer th:replace="fragments/footer"></footer>
</body>
</html>