<!DOCTYPE html>
<html lang="bg"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
<div th:replace="~{fragments/navigation::navigation(activeLink=${'login'})}"></div>
    <div class="container-form">
        <div th:unless="${showErrorMessage}">
            <h2 class="text-center" id="login_form_login" th:text="#{login}">Login</h2>
        </div>
        <form id="loginForm"
        th:action="@{/login}"
        th:object="${loginUserDTO}"
        th:method="POST">
            <div class="bg-danger text-center" th:if="${showErrorMessage}">
                <p class="d-block">Invalid username or password</p>
            </div>
            <div class="form-group">
                <label th:for="username" id="login_form_username" th:text="#{login_form_username}">Username</label>
                <input type="text" class="form-control"
                       id="username"
                        th:field="*{username}"
                       aria-describedby="usernameHelpInline">
            </div>
            <div class="form-group">
                <label th:for="password" id="login_form_password" th:text="#{login_form_password}">Password</label>
                <input type="password" class="form-control"
                       id="password"
                       th:field="*{password}"
                       aria-describedby="passwordHelpInline">
            </div>
            <button type="submit" class="btn btn-primary btn-block" id="login_form_button" th:text="#{login}">Login</button>
        </form>
    </div>
    <footer th:replace="~{fragments/footer}"></footer>
</body>
</html>