<!DOCTYPE html>
<html lang="bg"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Positions</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
<div th:replace="~{fragments/navigation::navigation(activeLink=${'positions'})}"></div>
<div class="entity-form positions-form">
    <h2 class="text-center">
        <span th:text="#{positions_header}">Positions:</span>
        <span class="count" th:text="${allPositionsDTOS.size()}"></span>
    </h2>
    <a href="/add-position" class="btn btn-success add-employee-btn"
       sec:authorize="hasRole('ADMIN')"
       th:text="#{add}">Add</a>
    <table class="departments-form justify-content-center table table-striped">
        <thead>
        <tr>
            <th th:text="#{name}">Name</th>
            <th th:text="#{description}">Description</th>
            <th th:text="#{employees}">Employees</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="position : ${allPositionsDTOS}">
            <td th:text="${position.positionName}">Name</td>
            <td class="description-cell" th:text="${position.description}">Description</td>
            <td th:text="${position.employees.size()}">Employees</td>
            <td sec:authorize="hasRole('ADMIN')" th:if="${position.positionName != 'DEFAULT_POSITION'}">
                <form th:method="POST" th:action="@{/position-details/{id}(id=${position.id})}" class="d-inline">
                    <input class="btn btn-primary btn-sm" type="submit" th:value="#{edit}"/>
                </form>
                <form th:method="POST" th:action="@{/delete-prosition/{id}(id=${position.id})}" class="d-inline">
                    <input class="btn btn-danger btn-sm" type="submit" th:value="#{remove}"/>
                </form>
            </td>
            <td sec:authorize="hasRole('USER')">
                <form th:method="POST" th:action="@{/position-employees/{id}(id=${position.id})}" class="d-inline">
                    <input class="btn btn-primary btn-sm" type="submit" th:value="#{employees}"/>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>