<!DOCTYPE html>
<html lang="bg" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Position</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
<div th:replace="~{fragments/navigation}"></div>

<div class="position-employees-form">
    <h2 class="text-center">Edit Position</h2>
    <form class="container-form"
          th:action="@{/position-details}"
          th:object="${positionDTO}"
          th:method="POST"
          id="edithPositionForm">

        <input type="hidden" th:field="*{id}" />

        <div class="form-group">
            <label th:for="name">Name</label>
            <input type="text" class="form-control" th:placeholder="${positionDTO.positionName}"
                   id="name"
                   name="name"
                   th:field="*{positionName}"
                   th:errorclass="is-invalid">
            <p class="invalid-feedback errors alert alert-danger">Name must contain 3 to 50 letters.</p>
        </div>
        <div class="form-group">
            <label th:for="descriptions">Descriptions</label>
            <input type="text" class="form-control" th:placeholder="${positionDTO.description}"
                   id="descriptions"
                   name="descriptions"
                   th:field="*{description}"
                   th:errorclass="is-invalid">
            <p class="invalid-feedback errors alert alert-danger">Descriptions must contain 10 to 255 letters.</p>
        </div>
        <div class="form-group">
            <label th:for="employees">Employees</label>
            <input type="text" class="form-control" th:placeholder="*{employees.size()}"
                   id="employees"
                   name="employees"
                   readonly>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary btn-block" value="Save"/>
        </div>
    </form>


    <table class="justify-content-center table table-striped">
        <thead>
        <tr>
            <th>First Name</th>
            <th>Middle Name</th>
            <th>Last Name</th>
            <th>Identification Number</th>
            <th>Age</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Position</th>
            <th>Department</th>
            <th>Education</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee : ${positionEmployees}">
            <td th:text="${employee.firstName}">First Name</td>
            <td th:text="${employee.middleName}">Middle Name</td>
            <td th:text="${employee.lastName}">Last Name</td>
            <td th:text="${employee.identificationNumber}">Identification Number</td>
            <td th:text="${employee.age}">Age</td>
            <td th:text="${employee.startDate}">Start Date</td>
            <td th:text="${employee.endDate}">End Date</td>
            <td th:text="${employee.position}">Position</td>
            <td th:text="${employee.department}">Department</td>
            <td th:text="${employee.education}">Education</td>
<!--            <td>-->
<!--                <form th:method="POST"-->
<!--                      th:action="@{/delete-project-employee/{idEm}/{idPr}(idEm=${employee.id}, idPr=${projectId})}"-->
<!--                      class="d-inline"-->
<!--                      sec:authorize="hasRole('ADMIN')">-->
<!--                    <input class="btn btn-danger btn-sm" type="submit" value="Remove"/>-->
<!--                </form>-->
<!--            </td>-->
        </tr>
        </tbody>
    </table>


</div>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>
