<!DOCTYPE html>
<html lang="bg"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
<div th:replace="~{fragments/navigation::navigation(activeLink=${'projects'})}"></div>
<div class="entity-form projects-form">
    <h2 class="text-center">
        <span th:text="#{projects_header}"> Projects:</span>
        <span class="count" th:text="${projects.size()}"></span>
    </h2>
    <a href="/add-project" class="btn btn-success add-employee-btn" sec:authorize="hasRole('ADMIN')">Add</a>
    <table class="projects-form justify-content-center table table-striped">
        <thead>
        <tr>
            <th th:text="#{name}">Name</th>
            <th th:text="#{description}">Description</th>
            <th th:text="#{start_date}">Start Date</th>
            <th th:text="#{end_date}">End Date</th>
            <th th:text="#{projects_department}">Responsible Department</th>
            <th th:text="#{employees}">Employees</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="project : ${projects}">
            <td th:text="${project.name}">Name</td>
            <td th:text="${project.description}">Description</td>
            <td th:text="${project.startDate}">Start Date</td>
            <td th:text="${project.endDate}">End Date</td>
            <td th:text="${project.responsibleDepartment}">Responsible Department</td>
            <td th:text="${project.employees.size()}">Employees</td>
            <td th:href="@{/add-department}" sec:authorize="hasRole('ADMIN')">
                <form th:method="POST" th:action="@{/project-details/{id}(id=${project.id})}" class="d-inline">
                    <input class="btn btn-primary btn-sm" type="submit" th:value="#{edit}"/>
                </form>
                <form th:method="POST" th:action="@{/delete-project/{id}(id=${project.id})}" class="d-inline">
                    <input class="btn btn-danger btn-sm" type="submit" th:value="#{remove}"/>
                </form>
            </td>
            <td sec:authorize="hasRole('USER')">
                <form th:method="POST" th:action="@{/project-employees/{id}(id=${project.id})}" class="d-inline">
                    <input class="btn btn-primary btn-sm" type="submit" th:value="#{employees}"/>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>