<!DOCTYPE html>
<html lang="bg"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Employees</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
<div th:replace="~{fragments/navigation::navigation(activeLink=${'projects'})}"></div>
<div class="entity-form">

    <div class="container-form bg-danger text-center" th:if="${isExist}">
        <p class="d-block">The employee already exists</p>
    </div>
    <div th:unless="${isExist}">
        <h2 class="text-center">
           <span th:text="#{project_employees_header}">Project Employees</span>
            <span class="count" th:text="${projectEmployees.size()}"></span>
        </h2>
    </div>
    <form class="container-form"
          th:action="@{/project-employee/{idPr}(idPr=${projectId})}"
          th:object="${employeeNameDTO}"
          th:method="POST"
          id="projectEmployeesForm"
          sec:authorize="hasRole('ADMIN')">
        <div class="form-group">
            <label th:for="employee" th:text="#{employee}">Employee</label>
            <select class="form-control"
                    id="employee"
                    name="employee"
                    th:field="*{fullName}">
                <option value="">-- Add Another Employee --</option>
                <option th:each="employee: ${allEmployees}"
                        th:value="${employee.fullName}"
                        th:text="${employee.fullName}">Employee Full Name</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary btn-block"
                sec:authorize="hasRole('ADMIN')" th:text="#{add}">Add</button>
    </form>

    <table class="justify-content-center table table-striped">
    <thead>
    <tr>
        <th th:text="#{employees_first_name}">First Name</th>
        <th th:text="#{employees_middle_name}">Middle Name</th>
        <th th:text="#{employees_last_name}">Last Name</th>
        <th th:text="#{identification_number}">Identification Number</th>
        <th th:text="#{employees_age}">Age</th>
        <th th:text="#{employees_start_date}">Start Date</th>
        <th th:text="#{employees_end_date}">End Date</th>
        <th th:text="#{position}">Position</th>
        <th th:text="#{department}">Department</th>
        <th th:text="#{employees_education}">Education</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="employee : ${projectEmployees}">
        <td th:text="${employee.firstName}">First Name</td>
        <td th:text="${employee.middleName}">Middle Name</td>
        <td th:text="${employee.lastName}">Last Name</td>
        <td th:text="${employee.identificationNumber}">Identification Number</td>
        <td th:text="${employee.age}">Age</td>
        <td th:text="${employee.startDate}">Start Date</td>
        <td th:text="${employee.endDate}">End Date</td>
        <td th:text="${employee.position}">Position</td>
        <td th:text="${employee.department}">Department</td>
        <td th:text="${employee.education}">Education</td>
        <td>
            <form th:method="POST"
                  th:action="@{/delete-project-employee/{idEm}/{idPr}(idEm=${employee.id}, idPr=${projectId})}"
                  class="d-inline"
                  sec:authorize="hasRole('ADMIN')">
                <input class="btn btn-danger btn-sm" type="submit" th:value="#{remove}"/>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</div>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>
