<!DOCTYPE html>
<html lang="bg" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Task</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
<div th:replace="~{fragments/navigation}"></div>
<div class="container-form">
    <h2 class="text-center">Edit Task</h2>
    <form
            th:action="@{/task-details}"
            th:object="${taskDTO}"
            th:method="POST"
            id="edithTaskForm">

        <!--Sends task id with a POST request-->
        <input type="hidden" th:field="*{id}" />

        <div class="form-group">
                <label th:for="name">Name</label>
                <input type="text" class="form-control" th:placeholder="${taskDTO.name}"
                       id="name"
                       name="name"
                       th:field="*{name}"
                       th:errorclass="is-invalid">
                <p class="invalid-feedback errors alert alert-danger">
                    Name must contain 3 to 50 letters.
                </p>
        </div>
        <div class="form-group">
                <label th:for="description">Description</label>
                <input type="text" class="form-control" th:placeholder="${taskDTO.description}"
                       id="description"
                       name="description"
                       th:field="*{description}"
                       th:errorclass="is-invalid">
                <p class="invalid-feedback errors alert alert-danger">
                    Description must contain 10 to 255 letters.
                </p>
        </div>
        <div class="form-group">
                <label th:for="startDate">Start Date</label>
                <input type="date" class="form-control" th:placeholder="${taskDTO.startDate}"
                       id="startDate"
                       name="startDate"
                       th:field="*{startDate}"
                       th:errorclass="is-invalid">
        </div>
        <div class="form-group">
                <label th:for="endDate">End Date</label>
                <input type="date" class="form-control" th:placeholder="${taskDTO.endDate}"
                       id="endDate"
                       name="endDate"
                       th:field="*{endDate}"
                       th:errorclass="is-invalid">
        </div>
        <div class="form-group">
                <label th:for="employee">Employee</label>
                <select class="form-control" th:placeholder="${taskDTO.employeeName}"
                        id="employee"
                        name="employee"
                        th:field="*{employeeName}"
                        th:errorclass="is-invalid">
                    <option value=""> -- Select Employee -- </option>
                    <option th:each="employee: ${allEmployees}"
                            th:value="${employee.fullName}"
                            th:text="${employee.fullName}">Employee Full Name</option>
                </select>
                <p class="invalid-feedback errors alert alert-danger">
                    You must select employee.
                </p>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Save</button>
        </div>
    </form>
</div>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>