<!DOCTYPE html>
<html lang="bg"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
<div th:replace="~{fragments/navigation::navigation(activeLink=${'tasks'})}"></div>
<div class="entity-form tasks-form">
    <h2 class="text-center">
        <span th:text="#{tasks_header}">Tasks:</span>
        <span class="count" th:text="${tasks.size()}"></span>
    </h2>
    <a href="/add-task" class="btn btn-success add-employee-btn"
        sec:authorize="hasRole('ADMIN')"
        th:text="#{add}">Add</a>
    <table class="departments-form justify-content-center table table-striped">
        <thead>
        <tr>
            <th th:text="#{name}">Name</th>
            <th th:text="#{description}">Description</th>
            <th th:text="#{tasks_employee_name}">Employee Name</th>
            <th th:text="#{start_date}">Start Date</th>
            <th th:text="#{end_date}">End Date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="task : ${tasks}">
            <td th:text="${task.name}">Name</td>
            <td th:text="${task.description}">Description</td>
            <td th:text="${task.employeeName}">Employee Name</td>
            <td th:text="${task.startDate}">Start Date</td>
            <td th:text="${task.endDate}">End Date</td>
            <td sec:authorize="hasRole('ADMIN')">
                <form th:method="POST" th:action="@{/task-details/{id}(id=${task.id})}" class="d-inline">
                    <input class="btn btn-primary btn-sm" type="submit" th:value="#{edit}"/>
                </form>
                <form th:method="POST" th:action="@{/delete-task/{id}(id=${task.id})}" class="d-inline">
                    <input class="btn btn-danger btn-sm" type="submit" th:value="#{remove}"/>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>