<!DOCTYPE html>
<html lang="bg"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
<div th:replace="~{fragments/navigation}"></div>
    <div class="users-form">
        <h2 class="text-center">Users</h2>
        <table class="departments-form justify-content-center">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Identification Number</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${userDTOS}">
                    <td th:text="${user.username}">Username</td>
                    <td th:text="${user.identificationNumber}">Identification Number</td>
                    <td th:text="${user.role}">Role</td>
                    <td th:href="@{/add-employee}" sec:authorize="hasRole('ADMIN')">
                        <form th:method="POST" th:action="@{/user-details/{id}(id=${user.userId})}" class="d-inline">
                            <input class="btn btn-primary btn-sm" type="submit" value="Edit"/>
                        </form>
                        <form th:method="POST" th:action="@{/delete-user/{id}(id=${user.userId})}" class="d-inline">
                            <input class="btn btn-danger btn-sm" type="submit" value="Remove"/>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <footer th:replace="~{fragments/footer}"></footer>
</body>
</html>