<!DOCTYPE html>
<html lang="bg" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Employee</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
<div th:replace="~{fragments/navigation}"></div>
<div class="container-form">
    <h2 class="text-center" id="edit_user" th:text="#{edit_user}">Edith User</h2>

    <form
          th:action="@{/edit-user-details}"
          th:object="${userDTO}"
          th:method="POST"
          id="userEdithForm">

        <div class="form-group">
            <label th:for="username" id="edit_username" th:text="#{edith_username}">Username</label>
            <input type="text" class="form-control" th:placeholder="${userDTO.username}"
                   id="username"
                   name="username"
                   th:field="*{username}"
                   th:errorclass="is-invalid">
            <p class="invalid-feedback errors alert alert-danger">
                First name must contain 3 to 10 letters.
            </p>
        </div>
        <div class="form-group">
            <label th:for="identificationNumber" id="edit_IN" th:text="#{edit_ID}">Identification Number</label>
            <input type="text" class="form-control" th:placeholder="${userDTO.identificationNumber}"
                   id="identificationNumber"
                   th:field="${userDTO.identificationNumber}"
                   name="identificationNumber" readonly>
        </div>
        <div class="form-group">
            <label th:for="role" id="edit_role" th:text="#{edit_role}">Role</label>
            <select class="form-control" th:placeholder="${userDTO.role}"
                    id="role"
                    name="role"
                    th:field="*{role}"
                    th:errorclass="is-invalid">
                <option value="">-- Select Role --</option>
                <option
                        th:each="role: ${roles}"
                        th:value="${role}"
                        th:text="${role}">Role
                </option>
            </select>
            <p class="invalid-feedback errors alert alert-danger">
                Engine type is required.
            </p>
        </div>
<!--        <form th:method="POST"-->
<!--              th:action="@{/edith-employee-details/{id}(id=${employeeDTO.getId()})}">-->
<!--            <input class="btn btn-link" type="submit" value="Save"/>-->
<!--        </form>-->

        <button type="submit" class="btn btn-primary btn-block" id="edit_button" th:text="#{edit_button}">Save</button>
    </form>
</div>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>